src/main/mule/demo-cicd-ch2.0.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="66cedac9-5a35-4d92-8d8c-569edfa183de" >
		<http:listener-connection host="0.0.0.0" port="8087" />
	</http:listener-config>
	<flow name="demo-cicd-ch2.0Flow" doc:id="eaa97897-7009-4566-8a02-0bf11a0f0117" >
		<http:listener doc:name="Listener" doc:id="63c0d7d1-8315-41c5-a94c-16d6edad376f" config-ref="HTTP_Listener_config" path="democicdch2.0"/>
		<logger level="INFO" doc:name="Logger" doc:id="1ad747ea-f74d-47bb-8920-30d469acfd89" message="start logger"/>
		<set-payload value="#[attributes.queryParams.status]" doc:name="Set Payload" doc:id="aca43835-8437-49b6-a08f-1b50eb3d5fa9" />
		<choice doc:name="Choice" doc:id="f4632b5e-0b8f-40a5-8cda-2998a4cfe2c0" >
			<when expression="#[payload]">
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"message":"The demo is successfull"&#10;}]' doc:name="Set Payload" doc:id="694b4860-a28e-4427-89d9-0e771536e788" />
			</when>
			<otherwise >
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"message":"The demo failed"&#10;}]' doc:name="Set Payload" doc:id="40efdf94-91f5-4ac9-ac69-ab350f15b564" />
			</otherwise>
		</choice>
	</flow>
</mule>
